# Ignore virtual environment and related files
venv/
.venv/
pyenv.cfg

# Ignore lib directories
lib/

# Ignore IDE/editor specific files
.idea/
.vscode/

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore other system files (if needed)
Thumbs.db
.DS_Store
